numpy==1.26.4  # Downgrade

# Chord progressions
tensorflow==2.15  # Downgrade for crema
# Custom mir_eval from main branch
git+https://github.com/craffel/mir_eval.git@main
crema==0.2.0

# Midi processing
mido==1.3.3

# Logging
loguru==0.7.3
